VITE_AUTH0_DOMAIN={domain_name}.{region}.auth0.com
VITE_AUTH0_CLIENT_ID=***
VITE_AUTH0_AUDIENCE=https://{domain_name}.{region}.auth0.com/api/v2/
VITE_API=http://localhost:3000/
VITE_USE_S3_TO_DOWNLOAD_TRACK=false